<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block head %}
<title>Bootstrap Example</title>
    {% endblock %}
</head>
<body>
 <div class="container">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/accounts">Blog SignUp</a>
    </div>
     {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home:post_list' %}">Home</a></li>
      <li class="active"><a href="/accounts/logout">Logout</a></li>
      <li class="active"><a href="/accounts/profile">Profile</a></li>
      <li class="active"><a href="/accounts/change-password">Change Password</a></li>
      <li class="active"><a href="/accounts/profile/edit">Edit Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/accounts/register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
    </ul>
      {% else %}
     <ul class="nav navbar-nav">
       <!--  <li class="active"><a href="{% url 'home:post_list' %} ">Home</a></li>-->
       <li class="active"><a href="/accounts/login">Login</a></li>
      <!--<li class="active"><a href="/accounts/logout">Logout</a></li>-->
      <li class="active"><a href="/accounts/profile">Profile</a></li>
      <li class="active"><a href="/accounts/change-password">Change Password</a></li>
      <li class="active"><a href="/accounts/profile/edit">Edit Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/accounts/register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
    </ul>
     {% endif %}
  </div>
</nav>
      </div>
           {% block body %}
{% endblock %}
</body>
</html>
